body{
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #d0d0d0;
}
  
header {
  background-color: rgb(134, 127, 127);
  background-image: url(images/peakpx.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  font-size: 1rem;
  color: #000;
}

a:hover{
  color: aqua;
}

.links{
  display: flex;
  text-align: center;
  color: white;
}

.navbar{
  width: 100%;
  height: 100px;
}

.navbar .links {
  font-family: 'Monomaniac One', sans-serif;
  font-size: large;
  display: flex;
  gap: 11rem;
  color: aquamarine;
  position: relative;
}

.navbar .toogle_btn {
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.welcomee {
  font-family: 'Tilt Prism', cursive;
  font-weight: 900px;
  font-size: 70px;
}

main {
  padding: 20px;
}
  
section {
  margin-bottom: 40px;
}
  
footer {
  background-color: #FFC0CB;
  text-align: center;
  padding-top: 1px;
  padding-bottom: 1px;
}
  